body {
    display: flex;
    /*justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;*/
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    border: 1px solid #f5c6cb;
    /*background-color: #f1f1f1;*/
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.container img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);*/
}

.title {
    font-size: 45px;
    font-weight: bold;
}

.result, .summary {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.actions button {
    background-color: #007bff;
    color: white;
    border: 5px solid goldenrod;
    border-radius: 50px;
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.actions button:hover {
    background-color: #0056b3;
    transform: scale(1.1)
}

@media (max-width:350px){
    .navbar{
        flex-direction: column;
    }
}
