body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-image: url('letters.jpg');*/
  background-color: black;
  background-size: cover;
  background-position: center;
  z-index: -1; /* ทำให้พื้นหลังอยู่ด้านล่าง */
}

.form-container {
  background: #555;
  border: 5px solid #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  color: black;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.difficulty-buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

button.difficulty {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ddd;
  color: #333;
}

button.difficulty:hover {
  background-color: #007bff;
  color: white;
}

button.difficulty.active {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #218838;
}
