
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  
  #intro-container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #intro-container input,
  #intro-container select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #start-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  #start-button:hover {
    background-color: #45a049;
  }
  
  #name-error {
    color: red;
    font-weight: bold;
    display: none;
  }
  
  /* Game Container (after game starts) */
  #game-container {
    max-width: 400px;
    margin: 0 auto;
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  #score-container {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  #word-container {
    font-size: 36px;
    letter-spacing: 10px;
    margin: 20px 0;
  }
  
  #wrong-guesses {
    font-size: 18px;
    color: red;
    margin-bottom: 20px;
  }
  
  #keyboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  #keyboard-container button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
  }
  
  #keyboard-container button:hover {
    background-color: #ddd;
  }
  
  #game-status {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
  }
  
  #hangman-image img {
    width: 150px;
    height: auto;
    margin-top: 20px;
  }
  
  #play-again-button,
  #reset-button,
  #show-high-scores {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #play-again-button:hover,
  #reset-button:hover,
  #show-high-scores:hover {
    background-color: #45a049;
  }
  
  #play-again-button {
    display: none;
  }
  
  #reset-button {
    display: none;
  }
  
  /* High Scores Container */
  #high-scores-container {
    margin-top: 40px;
  }
  
  #high-scores-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
  
  #high-scores-list li {
    margin-bottom: 10px;
  }
  
  #high-scores-list li span {
    font-weight: bold;
  }
  
  
  @media (max-width: 500px) {
    #intro-container,
    #game-container {
      width: 100%;
      padding: 10px;
    }
  
    #keyboard-container {
      flex-direction: column;
      gap: 5px;
    }
  
    #keyboard-container button {
      width: 50px;
      height: 50px;
    }
  
    #word-container {
      font-size: 28px;
    }
  }
  